@{
    var Model = WebUtilities.GetLayoutViewModel<WebsiteLayoutViewModel>(viewData: ViewData, key: WebConstants.ViewData.LayoutViewModel);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>@Html.Raw(Model.PageTitle.TitleHead)</title>
    @await Html.PartialAsync(ViewNames.Shared.PluginsClient.Header, Model.PluginsClient)    
    <link href="/css/website/style.css" rel="stylesheet" />
    
    @RenderSection("HeaderSection", false)    
</head>
<body>
    <div class="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">@Html.Raw(Model.ProjectName)</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>                        
                    </ul>                    
                </div>
            </div>
        </nav>

        <header class="bg-dark">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">@Html.Raw(Model.PageTitle.Value)</h1>                    
                </div>
            </div>
        </header>

        @RenderBody()

        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; @Html.Raw(Model.ProjectName) @DateTime.Now.Year</p></div>
        </footer>
    </div>
    @await Html.PartialAsync(ViewNames.Shared.PluginsClient.Footer, Model.PluginsClient)
    <script src="/js/Layout.js"></script>
    @RenderSection("FooterSection", false)    
</body>
</html>