@model NotFoundViewModel
@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@Html.Raw(Model.PageTitle)</title>
    @await Html.PartialAsync(ViewNames.Shared.PluginsClient.PluginsClientHeader, Model.PluginsClient)
</head>

<body class="bg-light">
    <section class="authentication-bg min-vh-100 py-5 py-lg-0">
        <div class="bg-overlay bg-light"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center mb-5">
                                <h1 class="error-title"> <span class="blink-infinite">404</span></h1>
                                <h4 class="text-uppercase">@Html.Raw(Model.TextPageNotFoundMessage1)</h4>
                                <p class="font-size-15 mx-auto text-muted w-50 mt-4">@Html.Raw(Model.TextPageNotFoundMessage2)</p>
                                <div class="mt-5 text-center">
                                    <a class="btn btn-primary waves-effect waves-light mb-3" href="javascript:history.go(-1)">@Html.Raw(Model.TextBackToPreviousPage)</a> <br />
                                    <a class="text-primary text-uppercase" href="@Html.Raw(Model.UrlLogout)">@Html.Raw(Model.TextGetMeOuttaHere)</a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </section>
    @await Html.PartialAsync(ViewNames.Shared.PluginsClient.PluginsClientFooter, Model.PluginsClient)
</body>
</html>