@{ 
    var Model = WebUtilities.GetLayoutViewModel<AdminLayoutViewModel>(viewData: ViewData, key: WebConstants.ViewData.LayoutViewModel); 
    Layout = Model.TabsLayoutViewName;
}

@section HeaderSection{
    
    @RenderSection(Model.HeaderSectionName, false)
}

<div class="card">
    <div class="card-body">
<ul class="nav nav-tabs">
    @if (Model.HasTabs)
    {
        foreach (var Item in Model.Tabs)
        {

            <li class="nav-item">
                <a class="nav-link @(Item.IsSelected ? Html.Raw("active") : null)" href="@Html.Raw(Item.NavigateUrl)">
                    <span class="d-block d-sm-none"><i class="@Html.Raw(Item.Icon)"></i></span>
                    <span class="d-none d-sm-block">@Html.Raw(Item.Caption)</span>
                </a>
            </li>            
        }
    }

</ul>
<div class="tab-content pt-3">
    @RenderBody()
</div>
    </div>
</div>
@section FooterSection{
    @RenderSection(Model.FooterSectionName, false)
}
